<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shorten URL</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">短網址生產器</a>
      </div>
    </nav>

    <div class="banner" url="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"></div>
  </header>


  {{{body}}}
</body>

</html>