<div class="container">
  
<form action="/" method="POST">
  <div class="container d-flex flex-column align-items-center ">

    <input type="text" name="originalURL" class="form-control" placeholder="Input URL here!" required>

    <button type="submit" class="btn-sm btn-submit">Shorten</button>

  </div>
</form>

</div>