<div class="container">

  <div class="alert alert-success py-10" role="alert">
    Success! Please use the link below:
  </div>

  <div class="d-flex">
    <input type="url" name="shortenUrl" id="shortenURL" class="form-control" value="{{ shortenURL }}">

  
  <div class="d-flex justify-content-center my-3">
    <a href="/">
      <button type="button" class="btn btn-warning">Back</button>
    </a>
  </div>
</div>